.yarn
.yarnrc
block-explorer
zksync-era
infrastructure/terraform/terraform.tfvars
.vscode/
.idea/
infrastructure/terraform/.terraform.lock.hcl
infrastructure/terraform/.terraform/
infrastructure/terraform/terraform.tfstate
infrastructure/terraform/terraform.tfstate.backup
target/

# load testing
*.csv
__pycache__/
wallets.json
/load_test/results/
